<style>
  body {background: #EEE;}
  
</style>

<% #if current_user.nil? %>
<h3>You wan't to join our team?</h3>
<div class="clear">&nbsp;</div>
<span>E-mail us at :   <%= mail_to '4nkh developement', 'admin@4nkh.com', :style => "color:#39c;font-size:14px;" %></span>
<% #else %>
<div class="celebrity_search" style="margin: 0 auto;">
<div class="loginform">
  <h3>Create an account</h3>
  <div class="clear">&nbsp;</div>
  <fieldset>
    <%= form_with model: @user do |f| %>
      <%= f.error_messages %>
    <p>
       <%= f.label :login, "Login (between 1 to 20 characters)" %>
       <%= f.text_field :login %>
    </p>
    <p>
       <%= f.label :email %><br/>
       <%= f.text_field :email %>
  </p>
  <p> 
      <%= f.label :password %><br/>
       <%= f.password_field :password %>
     </p>
     <p>
       <%= f.label :password_confirmation %><br>
       <%= f.password_field :password_confirmation %>
   </p>
      <fieldset>
   <%= f.label :tag_type, 'Title' %><br/>
    <%= f.select :tag_type , User::TAG.sort, :class => 'left'%>
 </fieldset>

      <%= f.submit 'Create' %>
    <% end %>
  </fieldset>
</div>
</div>
<% #end %>
