<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<%= csrf_meta_tag %>
<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag 'application' %>

<style>
body {background: #CCC /*url(<%= asset_path 'bg_main.png' %>) top left repeat;*/}
h2 {text-align:center;}
.notifier {padding-left:80px; width:340px;float:left;}
input[type="text"] {width:300px;}
.column_left {float:left; width:100px;}
.column_left input[type="checkbox"] {float:right;padding-right:20px;}
.column_right {float:right; width:100px;}
.column_right input[type="checkbox"] {float:right;}
#errorExplanation {margin-left:-50px !important;}
form {padding:20px;background:#EEE;width:300px;box-shadow:-3px 8px 10px 2px #999;-moz-box-shadow:-3px 8px 10px 2px #999;-webkit-box-shadow:-5px 10px 10px #999;}
.celebrity_search {width:340;}
</style>
<div class="clear">&nbsp;</div>
<% #if current_user.nil? %>
<h2>You wan't to join our team?</h3>
<div class="clear">&nbsp;</div>
<% #else %>
<div class="celebrity_search" style="margin: 0 auto;">
<div class="loginform">
  <h3>Create an account</h3>
  <div class="clear">&nbsp;</div>
  <fieldset>
    <%= form_with model: @user do |f| %>
      <%= f.error_messages %>
    <p>
       <%= f.label :login, "Login (between 1 to 20 characters)" %>
       <%= f.text_field :login %>
    </p>
    <p>
       <%= f.label :email %><br/>
       <%= f.text_field :email %>
  </p>
  <p> 
      <%= f.label :password %><br/>
       <%= f.password_field :password %>
     </p>
     <p>
       <%= f.label :password_confirmation %><br>
       <%= f.password_field :password_confirmation %>
   </p>
      <fieldset>
   <%= f.label :tag_type, 'Title' %><br/>
    <%= f.select :tag_type , User::TAG.sort, :class => 'left'%>
 </fieldset>

      <%= f.submit 'Create' %>
    <% end %>
  </fieldset>
</div>
<span>E-mail us at :   <%= mail_to 'admin@4nkh.ca', '4nkh developement', :style => "color:#39c;font-size:14px;" %></span>
</div>
<% #end %>
