#businesslist.business{:style => "display:none;"}
   %div= link_to 'management', "javascript:fillCookie('busi','busi1', '30');"
   %div= link_to 'mail', "javascript:fillCookie('busi','busi2', '30');" 
   %div= link_to 'advertising', "javascript:fillCookie('busi','busi3', '30');"
   %div= link_to 'billing', "javascript:fillCookie('busi','busi4', '30');" 
   %div= link_to 'languages', "javascript:fillCookie('busi','busi5', '30');" 



