#businesslist.business{:style => "display:none;"}
   %div= link_to 'gestions', "javascript:fillfrCookie('busi','busi1', '30');" 
   %div= link_to 'courriels', "javascript:fillfrCookie('busi','busi2', '30');" 
   %div= link_to 'publicité', "javascript:fillfrCookie('busi','busi3', '30');" 
   %div= link_to 'facturations', "javascript:fillfrCookie('busi','busi4', '30');"
   %div= link_to 'traductions', "javascript:fillfrCookie('busi','busi5', '30');"




