//#world
//  %object{'classid' => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", 'codebase' => "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0", 'width' => "253", 'height' => "173", 'id' => "earth", 'align' => "middle"}
//    %param{'name' => "allowScriptAccess", 'value' => "sameDomain"}
//    %param{'name' =>"allowFullScreen", 'value' => "false"}
//    %param{'name' => "movie", 'value' => "/assets/earth.swf"}
//    %param{'name' => "quality", 'value' => "high"}
//    %param{'name' => "wmode", 'value' => "transparent"}
//    %param{'name' => "bgcolor", 'value' => "transparent"}     
//    %embed{'src' => "/assets/earth.swf", 'quality' => "high", 'bgcolor' => "transparent", 'wmode' => "transparent", 'width' => "253", 'height' => "173", 'name' => "earth", 'align' => "middle", 'allowScriptAccess' => "sameDomain", 'allowFullScreen' => "false", 'type' => "application/x-shockwave-flash", 'pluginspage' => "http://www.adobe.com/go/getflashplayer"}
#world
  %img#earth{:width => "60px", :height => "60px", :src => "/assets/earth1.gif", :alt => "The world"}
  //%img#earth_top{:src => "/assets/earth_top1.gif", :alt => "The world"}

%a{:href => "/", :alt => "homepage", :title => "homepage"}
  #link_homepage
= link_to image_tag('logo.jpg'), root_path, :class => 'logo', :alt => 'For a new king of hype!', :title => 'Home'
.navi
  %div
    = link_to 'News', visible_path
  #services
    %a{:href => "javascript:;", :onClick => "P7_autoLayers(0,'serviceslist')"} Services
  %div
    = link_to 'Realisations', realisation_path 
  %div
    = link_to 'Biography', aboutus_path 
  %div
    = link_to 'Contact', notifier_path

  = render 'shared/services'




