- content_for :head do 
  :css
    #header_inner{-moz-box-shadow:-3px 8px 10px 2px #999;-webkit-box-shadow:-5px 10px 10px #999;box-shadow:-5px 10px 10px #999;}

:javascript
  window.onload=function()
  {
  busi=getCookie('busi');
  if (busi!=null && busi!="")
    {
    showbusi('busi', busi, '30');
    }
  else
    {
    showbusi('busi', 'busi1', '30');
    }
    //busi.style.display = 'block';
  }


- content_for :hd_inner do 
  = render :partial => 'shared/banner' 


.tab
  - if current_page?('/business/plan') 
    %a#myBusi1{:style => "color:#66b95f;", :href => "javascript:showbusi('busy', 'busi1', '30');"} Management
    %a#myBusi2{:style => "color:#700201;", :href => "javascript:showbusi('busy', 'busi2', '30');"} Mail
    %a#myBusi3{:style => "color:#5098ed;", :href => "javascript:showbusi('busy', 'busi3', '30');"} Advertising
    %a#myBusi4{:style => "color:#ead917;", :href => "javascript:showbusi('busy', 'busi4', '30');"} Billing
    %a#myBusi5{:style => "color:#de37e8;", :href => "javascript:showbusi('busy', 'busi5', '30');"} Language
  - else
    %a#myBusi1{:style => "color:#66b95f;", :href => "javascript:showbusi('busy', 'busi1', '30');"} Gestions
    %a#myBusi2{:style => "color:#700201;", :href => "javascript:showbusi('busy', 'busi2', '30');"} Courriels
    %a#myBusi3{:style => "color:#5098ed;", :href => "javascript:showbusi('busy', 'busi3', '30');"} Publicitées
    %a#myBusi4{:style => "color:#ead917;", :href => "javascript:showbusi('busy', 'busi4', '30');"} Facturations
    %a#myBusi5{:style => "color:#de37e8;", :href => "javascript:showbusi('busy', 'busi5', '30');"} Traductions


- if current_page?('/business/plan') 
  #busi5{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#de37e8;"} Language
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'language.jpg', :style => "padding-left:50px;"
        .clear &nbsp;
        .clear &nbsp;
        = link_to "submission", mailform_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p Our translation service offers the possibility to have a site English and French. This will give you a clear advantage has to those that serves their clientele in a single language. Unlike some plans, you can benefit from the translation of a site even if you are not hosted with us.  
      %ul{:class => "column last"}
        %p We will shortly have available translation services in Spanish, Italian, Portuguese and German. Please note that you must contact us for more details on the work of this nature. Think this plan has considered a must for your clientele to be served adequately.
      .clear &nbsp;
      .clear &nbsp; 
            
  #busi4{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#ead917;"} Billing
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'ppcc.jpg', :style => "padding-left:40px;"
        .clear &nbsp;
        .clear &nbsp;
        = link_to "submission", mailform_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p You do not have email address on behalf of your company. We will create for you a personalized extension based on your domain name, "exemple@votredomaine.com". This plan included 1 to 50 personalized email to your domain and connectivity between them and the website links or forms. It will give you a professional image and a way to manage your Emails between different departments or employees. It is useful and practical.
      %ul{:class => "column last"}
        %p We can help you configure your inbox and other tools for more effective, as you receive Emails on a blackberry, exchange documents, add a signature, etc. ... The creation part of this plan may be applicable even if your website is hosted aillor. In this case, you must own the domain and have access to CPANEL on your VPS. Contact us for a quote, as prices varied according to your needs.
      .clear &nbsp;
      .clear &nbsp;

  #busi3{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#5098ed;"} Advertising
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'modad.jpg', :style => "padding-left:40px;"
        .clear &nbsp;
        .clear &nbsp;
        = link_to "submission", mailform_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p Want to build an advertising campaign to boost your popularity and sales. 4nkh development can design and deploy for you the perfect promotional tool.  
        %br
        %p Our company uses all the means available to develop but also to publish the advertising concept. We will take advantage of your existing networks and other crérons appropriate.
        %br
        %p The fallen of your promotions will be fast and substancial. 
      %ul{:class => "column last"}
        %p We can also get advertising revenue from display targeted advertising. This means may be profitable for interesant your web space. You may also use this medium to share promotional space between you and a network of interested companies to display your messages if there is reciprocity of your leave.
        %br
        %p Contact us and we will develop a strategy that will please for sure. 
      .clear &nbsp;
      .clear &nbsp; 
        
  #busi2{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#700201;"} Mail
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'mailing.jpg', :style => "padding-left:40px;"
        .clear &nbsp;
        .clear &nbsp;
        = link_to "submission", mailform_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p You don't have any customized mail address for you business. We will create for you personalized mail extension based on your domain name. For exemple: exemple@domainname.com. This plan include 1 to 50 personalized e-mail for your domain and the link between them and the websites links or forms. This will give you a professional image of your business and a way to manage your incoming and outgoing mail between department or employees. It's very useful and pratical.
      %ul{:class => "column last"}
        %p We can help you to configure your inbox and other tools to optimized the efficency of the mail services, like receiving mail on blackberry, sharing documents, adding a mail signature, etc...The creation part of this plan can be applicable even if you already have a website hosted by someone else. In this case, you have to own the domain name and getting access to the CPANEL of your VPS. Contact us to get a submission, because the price always depends on what you really need.  </p>
      .clear &nbsp;
      .clear &nbsp;     
           
  #busi1{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#66b95f;"} Management
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'management.jpg', :style => "padding-left:40px;"
      %ul{:class => "column"}
        %p The management plan can take various forms. We can help with you incomming and outgoing mails, your newsletters, billing and much more... 
        %br
        %p 4nkh development build customized Intranet to make your work easier. We create tools to let you deal with your website content, schedules, employees, customers or simple users, etc...
      %ul{:class => "column last"}
        %p This plan are only for clients who are hosted by us. Other existing template can be incompatible with our tools. Grow in efficiency, reduce the time lost and keep your mind fixed on your forces. Contact our team for more explanations about all the options this plan can bring you!
        .clear &nbsp;
        .clear &nbsp;
        = link_to "submission", mailform_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;

- else

  #busi5{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#de37e8;"} Traductions
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'language.jpg', :style => "padding-left:50px;" 
        .clear &nbsp;
        .clear &nbsp;
        = link_to "soumission", mailformfr_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p Notre service de traduction vous offre la possibilite d'avoir un site anglais et francais. Ce qui vous donneras un net avantage par a par a ceux qui desserve leur clientele dans une seule langue. Contrairement a certain plans, vous pouvez beneficier de la traduction d'un site meme si vous n'etes pas heberge par nous. 
      %ul{:class => "column last"}
        %p Nous metterons sous peu a votre disposition des services de traduction en espagnol, italien, portuguais et allemand. Veuillez prende note que vous devez communiquer avec nous pour davantage de details sur les travaux de cette nature. Pensez a considere ce plan incontournable pour que votre clientele soit servie adequatement.
      .clear &nbsp;
      .clear &nbsp;
      
  #busi4{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#ead917;"} Facturations
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'ppcc.jpg', :style => "padding-left:40px;"
        .clear &nbsp;
        .clear &nbsp;
        = link_to "soumission", mailformfr_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p Vous n'avez pas d'addresse couriel au nom de votre entreprise. Nous créerons pour vous une extension personalisé base sur votre nom de domaine: "exemple@votredomaine.com". Ce plan inclus de 1 a 50 couriel personalisé pour votre domaine et la connectivité entre ceux-ci et les liens du site internet ou des formulaires. Ça vous procurera une image professionelle et une facon de gerer vos couriels entre différent département ou employés. C'est utile et pratique.
      %ul{:class => "column last"}
        %p Nous pouvons vous aider a configurer votre boîte de reception et les autres outils pour plus d'efficacité, comme recevoir vos couriels sur un blackberry, échanger des documents, ajouter une signature, etc... La partie création de ce plan peut-être applicable meme si votre site internet est hébergé ailleur. Dans ce cas, vous devez être propriétaire du domaine et avoir un accès au CPANEL de votre VPS. Contactez-nous pour avoir une soumission, car les prix varies selon vos besoins.
      .clear &nbsp;
      .clear &nbsp;

  #busi3{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#5098ed;"} Publicitées
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'modad.jpg', :style => "padding-left:40px;"
        .clear &nbsp;
        .clear &nbsp;
        = link_to "soumission", mailformfr_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p Vous désirez bâtir une campagne de publicité pour mousser votre popularité et vos ventes. 4nkh developement peut concevoir et déployer pour vous l'outil promotionnel idéale. 
        %br
        %p Notre entreprise utilise tout les moyens disponible pour élaborer mais surtout pour publier le concept publicitaire. Nous prendrons avantages de vos réseaux déjà existant et en crérons d'autre s'il y a lieu.
        %br
        %p Les retombés de vos promotions seront rapide et substanciel. 
      %ul{:class => "column last"}
        %p Nous pouvons également vous obtenir des revenues publicitaire provenant d'affichage publicitaire ciblé. Ce moyen peut être intéresant pour rentabilisé votre espace internet. Vous pourriez aussi utilisé ce moyen pour échanger des espaces promotionnel entre vous et un réseau d'entreprises intéressées à afficher vos messages si il y a réciprocité de votre pars. 
        %br
        %p Contactez-nous et nous mettons sur pied une stratégie qui vous plaira à coup sure. 
      .clear &nbsp;
      .clear &nbsp; 

  #busi2{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#700201;"} Courriels
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'mailing.jpg', :style => "padding-left:40px;"
        .clear &nbsp;
        .clear &nbsp;
        = link_to "soumission", mailformfr_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p Vous n'avez pas d'addresse couriel au nom de votre entreprise. Nous créerons pour vous une extension personalisé base sur votre nom de domaine: "exemple@votredomaine.com". Ce plan inclus de 1 a 50 couriel personalisé pour votre domaine et la connectivité entre ceux-ci et les liens du site internet ou des formulaires. Ça vous procurera une image professionelle et une facon de gerer vos couriels entre différent département ou employés. C'est utile et pratique.
      %ul{:class => "column last"}
        %p Nous pouvons vous aider a configurer votre boîte de reception et les autres outils pour plus d'efficacité, comme recevoir vos couriels sur un blackberry, échanger des documents, ajouter une signature, etc... La partie création de ce plan peut-être applicable meme si votre site internet est hébergé ailleur. Dans ce cas, vous devez être propriétaire du domaine et avoir un accès au CPANEL de votre VPS. Contactez-nous pour avoir une soumission, car les prix varies selon vos besoins.
      .clear &nbsp;
      .clear &nbsp;

  #busi1{:name => "busi", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius: 0px 20px 20px 20px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#66b95f;"} Gestions
      .clear &nbsp;
      %ul{:class => "column first"}
        = image_tag 'management.jpg', :style => "padding-left:40px;"
      %ul{:class => "column"}
        %p Le plan de gestion peut prendre diverses formes. Nous pouvons vous aider avec vos couriels entrants et sortants, vos bulletins de nouvelles, votre facturation et plus encore ... 
        %br 
        %p 4nkh développement construira sur mesure des Intranet pour rendre votre travail plus facile. Nous créons des outils pour vous permettre d'inter-agir avec le contenu de votre site, les horaires, les employés, les clients ou les simples utilisateurs, etc ..
      %ul{:class => "column last"}
        %p This plan are only for clients who are hosted by us. Other existing template can be incompatible with our tools. Grow in efficiency, reduce the time lost and keep your mind fixed on your forces. Contact our team for more explanations about all the options this plan can bring you!
        .clear &nbsp;
        .clear &nbsp;
        = link_to "soumission", mailformfr_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
        .clear &nbsp;
        .clear &nbsp;
        
.clear &nbsp;
= #javascript_include_tag 'products'
%script{:src => "/assets/products.js"}


