<% content_for :head do %>
  <style>
    #header_inner{-moz-box-shadow:-3px 8px 10px 2px #999;-webkit-box-shadow:-5px 10px 10px #999;box-shadow:-5px 10px 10px #999;}
  </style>
<% end %>


<% content_for :hd_inner do %>
	<%= render :partial => 'shared/banner' %>
<% end %>

<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div>

<div id="title" class="group">
  <div class="clear">&nbsp;</div>
     <h2 class="h2_title">Welcome</h2>

     <ul class="column first">
       <br />
       <p> 4nkh development is a company that offers you a range of products and varied solutions for your software and internet needs. We create custom and tailored products to meet your requirements. Our team will build your Internet platform, games or application by adding the required elements to provide an efficient and pleasant experience for your customers. We will realize your project and respect a standard of uncomparable quality.
      </p>
      <br/>
      <p> Different plans and strategies are offered through several services to meet your needs and ambitions.
      </p>
    </ul>

    <ul class="column" style="border-right:2px solid #EEE;border-left:2px solid #EEE;">
      <br />
      <p>Whether to inform people about the evolution of your company, provide a platform for commercial online sales, discussion forums advanced, chat interfaces, management, video conferencing through our listed products or not, we will use or build on your specification. 4nkh development have the solution to meet your goals and implement the desired technological instrument. </p>
      <br />
      <p>
        We urge you to take a look at our SEO plans for search engines because it will give you the possibility to reach more hits by maximizing your visibility on the web.
      </p>  
      </ul>

    <ul class="column last">
      <br />
      <p>Our hosting, managements, statistics, referrals and many others plans are available to maximize the potential and performance in which you aspire. 
        </p>
      <br />
      <p>
        Choose from a wide range of utilities that can be added to your concept. Any technological suggestions and requests can be used, according to your preference and for more flexibility. Whether for mobility or any other type of project. 
      </p>
      <br />
      <p>We are committed to answering all your questions. For any complementary information, contact us!
        </p>
    </ul>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div>
<div class="group">
  <ul class="column first">
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <%= link_to "mobility", mobile_path, :class => "btn-more", :style => "margin-left:100px;" %>  
        <div class="clear">&nbsp;</div> 
  </ul>

  <ul class="column">   
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <%= link_to "video games", folios_path, :class => "btn-more" %>  
    <div class="clear">&nbsp;</div>
     </ul>

  <ul class="column last">
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <%= link_to "submission", mailform_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => "" %>  
    <div class="clear">&nbsp;</div>
    </ul>
</div>
<%= javascript_include_tag 'global'%>