<%= stylesheet_link_tag 'appleplaylist' -%>
 <style>
   a.prev {position:absolute;left:22px;top: 65px;width:30px;height:30px;}
          a.next {position:absolute;right:22px;top: 65px;width:30px;height:30px;}
  </style>
<% content_for :head do %>
  <style> 
          #header{z-index:2;height:130px !important;}
          #header_inner{height:0;top:77px !important;}
          #content{z-index:1;}
</style>
<% end %>
<%= stylesheet_link_tag 'jquery.lightbox.css' %>

	<h2 class="subtitle" style="text-align:center;">as_de_nasafinal</h2>
<div class="clear">&nbsp;</div>
<div id="clips" class="scrollable">
  <div class="items">
<ul class="thumb1">
  <li><%= link_to image_tag('png/jpeg/as_de_nas40000.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40000.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40001.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40001.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40002.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40002.jpg' ,:title => 'as_de_capc4naveral' %></li>
   <li><%= link_to image_tag('png/jpeg/as_de_nas40005.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40005.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40013.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40012.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nasabeta0013.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nasabeta0013.jpg' ,:title => 'as_de_capc4naveral' %></li>
</ul>

<ul class="thumb1">
  <li><%= link_to image_tag('png/jpeg/as_de_nas40004.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40004.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40020.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40020.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40015.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40015.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nasabeta0049.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nasabeta0049.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40023.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40023.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40024.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40024.jpg' ,:title => 'as_de_capc4naveral' %></li>
</ul>

<ul class="thumb1">
  <li><%= link_to image_tag('png/jpeg/as_de_nasa800011.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nasa800011.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nasabet0003.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nasabet0003.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40019.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40019.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nas40018.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nas40018.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nasabeta0034.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nasabeta0034.jpg' ,:title => 'as_de_capc4naveral' %></li>
  <li><%= link_to image_tag('png/jpeg/as_de_nasabeta0035.jpg', :size => '150x120'), '/images/png/jpeg/as_de_nasabeta0035.jpg' ,:title => 'as_de_capc4naveral' %></li>
</ul>

</div>
</div>

<a class="next browse right"></a>
<a class="prev browse left"></a>

<div class="clear">&nbsp;</div>

</ul>
<ul class="column first">
<li style="padding-left:20px;">
<%= link_to image_tag('download.jpg'), 'http://www.fpsbanana.com/maps/20450', :popup => true%><%= link_to image_tag('download.jpg'), 'http://www.moddb.com/games/counter-strike-source/addons/as-de-nasafinal', :popup => true, :style => 'padding-left:10px;'%><span style="color:#30618d;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;BSP FILE</span>
</li>
<li style="padding:10px 0 0 20px;">
<%= link_to image_tag('download.jpg'), 'http://www.moddb.com/games/counter-strike-source/downloads/vip-mod-10h'%><span style="color:#30618d;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;VIP MOD PLUGGIN</span>
</li>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="JBGDUCES6STJY">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


</ul>


<ul class="column">
This map environment was build for Counter-strike:source and can be played like any de_...(bomb/diffuse) map. You have the choice to add VIP MOD...but it's not an obligation!!!!!The game play is interesting because the objectives are mixed togetter to enlarged the multiplayer storyline.This map was build in a month at the beginning of 2007. 
</ul>

<ul class="column last">
The HDR technology was used to compiled this environment. You will appreciate the lightning result. Try it out and enjoy the SOURCE engin. 
</ul>
<div class="clear">&nbsp;</div>

<%= javascript_include_tag 'jquery.tool', 'jquery.lightbox.js' -%>
<script>        

// custom easing called "custom"
$.easing.custom = function (x, t, b, c, d) {
        var s = 1.70158; 
        if ((t/=d/2) < 1) return c/2*(t*t*(((s*=(1.525))+1)*t - s)) + b;
        return c/2*((t-=2)*t*(((s*=(1.525))+1)*t + s) + 2) + b;
}



// use the custom easing
$("div.scrollable").scrollable({easing: 'custom', speed: 700, circular: true});
</script>
<script>
$(function() {
        $('#clips a').lightBox();
    });
</script>
<script>
$(function() {
        $('#clips1 a').lightBox();
    });
</script>
