<%= content_for :head do %>
<style> 
     #header{z-index:2;height:130px !important;}
     #header_inner{height:0;top:77px;}
</style>
<%= javascript_include_tag 'core' %>
<% end %>
    <ul id="clientsList">
    <!--<li id="metro"><a href="icaxon.html" title="Icaxon"><%= image_tag "logo/icaxon.png", :alt => "Icaxon" %></a></li>
    <li id="sanfacon"><a href="artfox.html" title="Artfox"><%= image_tag "logo/artfox.png", :alt => "Artfox" %></a></li>
  	<li id="acq"><a href="acq.html" title="Association de la construction du Québec"><%= image_tag "logo/acq.png", :alt => "Association de la construction du Québec" %></a></li>
  	<li id="fruitsPassion" class="highlight"><a href="muzica.html" title="Fruits &amp; Passion"><%= image_tag "logo/muzica.png", :alt => "Muzica" %></a></li>
  	<li id="mondou"><a href="twitcook.html" title="Twitcook"><%= image_tag "logo/twitcook.png", :alt => "Twitcook" %></a></li>
  	<li id="stm"><a href="stm.html" title="STM"><%= image_tag "logo/stm.png", :alt => "STM" %></a></li>
  	<li id="stHubert" class="highlight"><a href="http://socialhip.net" title="Socialship"><%= image_tag "logo/socialship.png", :alt => "Socialship" %></a></li>
  	<li id="pmtRoy"><a href="pmt-roy.html" title="PMT ROY Assurances et services financiers"><%= image_tag "logo/pmt-roy.png", :alt => "PMT ROY Assurances et services financiers" %></a></li>
  	<li id="elexpertise"><a href="elexpertise.html" title="Élexpertise"><%= image_tag "logo/elexpertise.jpg", :alt => "Élexpertise" %></a></li>
  	<li id="tfo"><a href="tfo.html" title="TFO"><%= image_tag "logo/tfo.jpg", :alt => "TFO" %></a></li>
  	<li id="sourisMini" class="highlight"><a href="souris-mini.html" title="Souris Mini"><%= image_tag "logo/souris-mini.jpg", :alt => "Souris Mini" %></a></li>
  	<li id="rabaisAssurance"><a href="rabais-assurance.html" title="Rabais Assurance"><%= image_tag "logo/rabais-assurance.png", :alt => "Rabais Assurance" %></a></li>
  	<li id="hemaQuebec"><a href="hema-qc.html" title="Hema-Québec"><%= image_tag "logo/hema-qc.png", :alt => "Hema-Québec" %></a></li>
  	<li id="bombardier" class="highlight"><a href="notdork.html" title="Notdork"><%= image_tag "logo/notdork.png", :alt => "Notdork" %></a></li>
  	<li id="voxco"><a href="voxco.html" title="Voxco"><%= image_tag "logo/voxco.png", :alt => "Voxco" %></a></li>
  	<li id="lelarge"><a href="lelarge.html" title="Les Aliments Lelarge"><%= image_tag "logo/lelarge.png", :alt => "Les Aliments Lelarge" %></a></li>
  	<li id="karotz"><a href="karotz.html" title="Karotz"><%= image_tag "logo/karotz.jpg", :alt => "Karotz" %></a></li>
  	<li id="ino"><a href="ino.html" title="INO"><%= image_tag "logo/ino.jpg", :alt => "INO" %></a></li>-->
    	<!--<li id="axa"><a href="axa.html" title="AXA Canada"><%= image_tag "logo/axa.png", :alt => "AXA Canada" %></a></li>
    	<li id="bkom"><a href="bkom.html" title="Bkom"><%= image_tag "logo/bkom.jpg", :alt => "Bkom" %></a></li>
    	<li id="clientsButton">
    		<p>Nos clients<br />
    			<a href="#clients" class="doShow">Voir la liste</a><a href="#clients" class="doHide">Masquer la liste</a></p>
    	</li>-->

      <li id="metro"><div class="img_wrapping"><%= image_tag "logo/icaxon.png", :alt => "Icaxon" %></div></li>
      <li id="sanfacon"><div class="img_wrapping"><%= image_tag "logo/artfox.png", :alt => "Artfox" %></div></li>
    	<li id="acq"><div class="img_wrapping"><%= image_tag "logo/acq.png", :alt => "Association de la construction du Québec" %></div></li>
    	<li id="fruitsPassion" class="highlight"><div class="img_wrapping"><%= image_tag "logo/muzica.png", :alt => "Muzica" %></div></li>
    	<li id="mondou"><div class="img_wrapping"><%= image_tag "logo/twitcook.png", :alt => "Mondou" %></div></li>
    	<li id="stm"><div class="img_wrapping"><%= image_tag "logo/stm.png", :alt => "STM" %></div></li>
    	<li id="stHubert" class="highlight"><div class="img_wrapping"><%= image_tag "logo/socialship.png", :alt => "Socialship" %></div></li>
    	<li id="pmtRoy"><div class="img_wrapping"><%= image_tag "logo/sagemcom.png", :alt => "PMT ROY Assurances et services financiers" %></div></li>
    	<li id="elexpertise"><div class="img_wrapping"><%= image_tag "logo/elexpertise.jpg", :alt => "Élexpertise" %></div></li>
    	<li id="tfo"><div class="img_wrapping"><%= image_tag "logo/tfo.jpg", :alt => "TFO" %></div></li>
    	<li id="sourisMini" class="highlight"><div class="img_wrapping"><%= image_tag "logo/souris-mini.jpg", :alt => "Souris Mini" %></div></li>
    	<li id="rabaisAssurance"><div class="img_wrapping"><%= image_tag "logo/rabais-assurance.png", :alt => "Rabais Assurance" %></div></li>
    	<li id="hemaQuebec"><div class="img_wrapping"><%= image_tag "logo/hema-qc.png", :alt => "Hema-Québec" %></div></li>
    	<li id="bombardier" class="highlight"><div class="img_wrapping"><%= image_tag "logo/notdork.png", :alt => "Notdork" %></div></li>
    	<li id="voxco"><div class="img_wrapping"><%= image_tag "logo/voxco.png", :alt => "Voxco" %></div></li>
    	<li id="lelarge"><div class="img_wrapping"><%= image_tag "logo/lelarge.png", :alt => "Les Aliments Lelarge" %></div></li>
    	<li id="karotz"><div class="img_wrapping"><%= image_tag "logo/karotz.jpg", :alt => "Karotz" %></div></li>
    	<li id="ino"><div class="img_wrapping"><%= image_tag "logo/ino.jpg", :alt => "INO" %></div></li>

</ul>
	
