<%= stylesheet_link_tag 'blog' %>
<% content_for :head do %>
  <style> 
          #header{z-index:2;height:110px;}
          #header_inner{height:0;top:77px;} 
          #content{z-index:1;}
          #blog_wrapper {width:650px !important;}
          .share {position:absolute;top:-80px;right:40px;width:260px;height:50px;}
         /*<% if current_page?('/posts') %>
           .blog_wrap {background: #222;}
         <% else %>
         <% if current_page?('/all/images/Visible') %>
           .blog_wrap {background: url(/assets/eye.jpg) repeat-y left top;}
         <% else%>
         <% if current_page?('/all/links/Visible') %>
           .blog_wrap {background: url(/assets/link_blog.jpg) repeat-y left top;}
         <% else %>
         <% if current_page?('/all/videos/Visible') %>
           .blog_wrap {background: url(/assets/pelicule.jpg) repeat-y left top;}
         <% else%> 
         <% if current_page?('/all/textos/Visible') %>
           .blog_wrap {background: url(/assets/code.jpg) repeat-y left top;}
         <% else %>
         <% if current_page?('/posts/all/Visible') %>
           .blog_wrap {background: url(/assets/all.jpg) repeat-y left top;}
         <% else %> 
         <% if current_page?('/fr/posts/all/Visible') %>
           .blog_wrap {background: url(/assets/all.jpg) repeat-y left top;}
         <% else %>
           .blog_wrap {background: url(/assets/cloud.jpg) repeat-y left top;}
         <% end %><% end %><% end %><% end %><% end %><% end %><% end %>*/
         .post_full {background: #FFF !important;padding:20px !important;
           /*border-radius:10px;
           -moz-border-radius:10px;
           -webkit-border-radius:10px;
           -moz-border-radius:10px; 
           -webkit-border-radius:10px;*/
           }
         .tag {display:none;}
  </style>
<% end %>

<% content_for :hd_inner do %>
<!--<%= image_tag 'redlight1.png', :style => 'position:absolute;top:46px;left:415px;z-index:-1000;' %>-->
  <% if current_page?('/posts') %>
  <% else %>  
  
    <div class="share">
  <%= render :partial => 'shared/share' %>
    </div>
  
  <% end %>
<% if current_page?('/fr/posts/all/Visible') %>
<!--<h2 style="padding-top:20px;width:1004px;font-size:45px;color:#420202;text-shadow:2px 2px 4px #000;text-align:center;">EN ONDE</h2>-->
<% else %>
<!--<h2 style="padding-top:20px;width:1004px;font-size:45px;color:#420202;text-shadow:2px 2px 4px #000;text-align:center;">ON AIR</h2>-->
<% end %>
<% end %>

<div class="blog_wrap">
   <div class="clear">&nbsp;</div>



 <div id="blog_wrapper">     
       <div class="posts">
<% if current_page?('/posts/all/Restricted') %>
    <% if current_user.blank? %>
       <h3 style="font-size:25px;color:maroon;padding: 75px 0 75px 0;">RESTRICTED AREA</h3>
    <% else %>
    <% if current_user.id == (1) || current_user.id == (2) %>
            <%#= render @posts %>
            <%= render :partial => 'sheet', :collection => @posts, :as => :post %>
            <div class="paginate"><%= will_paginate @posts %></div>
      <% else %>
       <h3 style="font-size:25px;color:maroon;padding: 75px 0 75px 0;">RESTRICTED AREA</h3>
      <% end %>
    <% end %>
<% else %>
<% if current_page?('/all/videos/Visible') %>
                 <%#= render @postvid %>
                 <%= render :partial => 'sheet', :collection => @postvid, :as => :post %>
<div class="paginate"><%= will_paginate(@postvid, :param_name => 'vids_page') %></div>
<% else %>
<% if current_page?('/all/images/Visible') %>
                 <%#= render @postima %>
                 <%= render :partial => 'sheet', :collection => @postima, :as => :post %>
         <div class="paginate"><%= will_paginate(@postima, :param_name => 'pics_page') %></div>
<% else %>
<% if current_page?('/all/links/Visible') %>
                 <%#= render @postlin %>
                 <%= render :partial => 'sheet', :collection => @postlin, :as => :post %>
         <div class="paginate"><%= will_paginate(@postlin, :param_name => 'links_page') %></div>
<% else %>
<% if current_page?('/all/textos/Visible') %>
                 <%#= render @posttxt %>
                 <%= render :partial => 'sheet', :collection => @posttxt, :as => :post %>
         <div class="paginate"><%= will_paginate(@posttxt, :param_name => 'texts_page') %></div>
<% else %>
<% if current_page? "/posts" %>
    <% if current_user.blank? %>
      <h3 style="font-size:25px;color:maroon;padding: 75px 0 75px 0;">RESTRICTED AREA</h3>
    <% else %>
      <% if current_user.id == (1) || current_user.id == (2) %>
            <%= render @posts %>
            <div class="paginate"><%= will_paginate @posts %></div>
      <% else %>
       <h3 style="font-size:25px;color:maroon;padding: 75px 0 75px 0;">RESTRICTED AREA</h3>
      <% end %>
    <% end %>
<% else %>
<% if current_page? "/posts/all/Visible" %>
                 <%#= render @posts %>
                 <%= render :partial => 'sheet', :collection => @posts, :as => :post %>
         <div class="paginate"><%= will_paginate @posts %></div>
<% else %>
<% if current_page? "/fr/posts/all/Visible" %>
                 <%#= render @posts %>
                 <%= render :partial => 'sheet', :collection => @posts, :as => :post %>
         <div class="paginate"><%= will_paginate @posts %></div>
<% else %>
<%= render @posts %>
         <div class="paginate"><%= will_paginate @posts, :param_name => 'tags_page' %></div>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<div class="clear">&nbsp;</div>
       </div>
     </div>
</div>

<% if current_page?("/posts/all/Visible") || current_page?("/fr/posts/all/Visible") %>
  <%= image_tag 'flyer.png', :style => 'height:238px;width:112px;position:absolute;top:-19px;left:37px;' %>
  <%= link_to image_tag('video32.png', :mouseover => 'video32act.png'), '/all/videos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:20px;left:85px;' %>
  <%= link_to image_tag('image32.png', :mouseover => 'image32act.png'), '/all/images/Visible' , :style => 'height:32px;width:32px;position:absolute;top:57px;left:85px;' %>
  <%= link_to image_tag('link32.png', :mouseover => 'link32act.png'), '/all/links/Visible' , :style => 'height:32px;width:32px;position:absolute;top:94px;left:85px;' %>
  <%= link_to image_tag('text32.png', :mouseover => 'text32act.png'), '/all/textos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:129px;left:85px;' %>
<% elsif current_page?("/all/videos/Visible") %>
  <%= image_tag 'flyer.png', :style => 'height:238px;width:112px;position:absolute;top:-19px;left:37px;' %>
  <%= link_to image_tag('video32act.png', :mouseover => 'video32act.png'), '/all/videos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:20px;left:85px;' %>
  <%= link_to image_tag('image32.png', :mouseover => 'image32act.png'), '/all/images/Visible' , :style => 'height:32px;width:32px;position:absolute;top:57px;left:85px;' %>
  <%= link_to image_tag('link32.png', :mouseover => 'link32act.png'), '/all/links/Visible' , :style => 'height:32px;width:32px;position:absolute;top:94px;left:85px;' %>
  <%= link_to image_tag('text32.png', :mouseover => 'text32act.png'), '/all/textos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:129px;left:85px;' %>
<% elsif current_page?("/all/images/Visible") %>
  <%= image_tag 'flyer.png', :style => 'height:238px;width:112px;position:absolute;top:-19px;left:37px;' %>
  <%= link_to image_tag('video32.png', :mouseover => 'video32act.png'), '/all/videos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:20px;left:85px;' %>
  <%= link_to image_tag('image32act.png', :mouseover => 'image32act.png'), '/all/images/Visible' , :style => 'height:32px;width:32px;position:absolute;top:57px;left:85px;' %>
  <%= link_to image_tag('link32.png', :mouseover => 'link32act.png'), '/all/links/Visible' , :style => 'height:32px;width:32px;position:absolute;top:94px;left:85px;' %>
  <%= link_to image_tag('text32.png', :mouseover => 'text32act.png'), '/all/textos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:129px;left:85px;' %>
<% elsif current_page?("/all/links/Visible") %>
  <%= image_tag 'flyer.png', :style => 'height:238px;width:112px;position:absolute;top:-19px;left:37px;' %>
  <%= link_to image_tag('video32.png', :mouseover => 'video32act.png'), '/all/videos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:20px;left:85px;' %>
  <%= link_to image_tag('image32.png', :mouseover => 'image32act.png'), '/all/images/Visible' , :style => 'height:32px;width:32px;position:absolute;top:57px;left:85px;' %>
  <%= link_to image_tag('link32act.png', :mouseover => 'link32act.png'), '/all/links/Visible' , :style => 'height:32px;width:32px;position:absolute;top:94px;left:85px;' %>
  <%= link_to image_tag('text32.png', :mouseover => 'text32act.png'), '/all/textos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:129px;left:85px;' %>
<% elsif current_page?("/all/textos/Visible") %>
  <%= image_tag 'flyer.png', :style => 'height:238px;width:112px;position:absolute;top:-19px;left:37px;' %>
  <%= link_to image_tag('video32.png', :mouseover => 'video32act.png'), '/all/videos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:20px;left:85px;' %>
  <%= link_to image_tag('image32.png', :mouseover => 'image32act.png'), '/all/images/Visible' , :style => 'height:32px;width:32px;position:absolute;top:57px;left:85px;' %>
  <%= link_to image_tag('link32.png', :mouseover => 'link32act.png'), '/all/links/Visible' , :style => 'height:32px;width:32px;position:absolute;top:94px;left:85px;' %>
  <%= link_to image_tag('text32act.png', :mouseover => 'text32act.png'), '/all/textos/Visible' , :style => 'height:32px;width:32px;position:absolute;top:129px;left:85px;' %>
<% end %>