- content_for :head do
  :css
    p {font-size:16px;}

- content_for :hd_inner do
  = render :partial => 'shared/banner'
  
.clear &nbsp;
.map
  = raw('<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11252.823701064477!2d-73.6246813!3d45.5300194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9190eea7f4923%3A0xdcb0d508454e7d0c!2s435%20Av.%20Ogilvy%2C%20Montr%C3%A9al%2C%20QC%20H3N%201M3!5e1!3m2!1sfr!2sca!4v1709579672617!5m2!1sfr!2sca" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>')
  //%iframe{'width' => "500", 'height' => "500", 'frameborder' => "0", 'scrolling' => "no", 'marginheight' => "0", 'marginwidth' => "0", 'src' => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11252.823701064477!2d-73.6246813!3d45.5300194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9190eea7f4923%3A0xdcb0d508454e7d0c!2s435%20Av.%20Ogilvy%2C%20Montr%C3%A9al%2C%20QC%20H3N%201M3!5e1!3m2!1sfr!2sca!4v1709579672617!5m2!1sfr!2sca"}
  %br
  %small
    %a{:href => "https://maps.app.goo.gl/5jhtXtfRjEAtbdiAA", :style => "color:#0000FF;text-align:left"} View Larger Map

- if  current_page?("/contactus") 

  - content_for :flash do 
    = render :partial => 'shared/header' 

  .contact_tip
    %h2{:style => "border-bottom:1px solid #444;"} Contact us  
    .clear &nbsp;
    .clear &nbsp;

    %h3 By phone
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;

    %p (438) 393-3933
    .clear &nbsp;
    %p (450) 491-3909
    .clear &nbsp;
    %p 435 av. Ogilvy
    .clear &nbsp;
    %p Montreal Qc.
    .clear &nbsp;
    %p H3N 1M3
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp; 
 
    %h3 By e-mail
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    = mail_to('admin@4nkh.ca', image_tag('mail.png'))
    =# link_to image_tag('mail.png', :mouseover => 'mail1.png'), '/notifier/mailform', :rel => "shadowbox;width=500;height=600;" 

- else

  - content_for :flash do
    = render :partial => 'shared/fr'

  .contact_tip
    %h2{:style => "border-bottom:1px solid #444;"} Nous joindre

   
  .clear &nbsp;
  .clear &nbsp;

  %h3 Par téléphone
  .clear &nbsp;
  .clear &nbsp;
  .clear &nbsp;

  %p (514) 984-0004
  .clear &nbsp;
  %p (450) 491-3909
  .clear &nbsp;
  %p 412 8e avenue
  .clear &nbsp;
  %p Deux-montagnes Qc.
  .clear &nbsp;
  %p J7R 3K8

  .clear &nbsp;
  .clear &nbsp;
  .clear &nbsp; 

  %h3 Par courriel
  .clear &nbsp;
  .clear &nbsp;
  .clear &nbsp;
  = mail_to('admin@4nkh.ca', image_tag("mail.png"))
  =# link_to image_tag('mail.png', :mouseover => 'mail1.png'), '/notifier/mailform', :rel => "shadowbox;width=500;height=600;" 
  
.clear &nbsp;
.clear &nbsp;


  
