<% content_for :sidebar do %>
  <%= render :partial => 'shared/sidebar' %>
<% end %>

<% content_for :hd_inner do %>

<div class="entries_wrapper">
<% if @posts.total_entries == 0 %>
<span style="font-size:14px">&nbsp;No result found</span>
<% else %>
<% if @posts.total_entries == 1 %>
<div class="total_entry"><span style="font-size:14px;font-weight:bold;"><%= @posts.total_entries %></span><span style="font-size:14px">&nbsp;result found</span></div>
<% else %>
<div class="total_entry"><span style="font-size:14px;font-weight:bold;"><%= @posts.total_entries %></span><span style="font-size:14px">&nbsp;results found</span></div>
<% end %>
<% end %>
</div>

<div class="share">
  <%= render :partial => 'shared/share' %>
</div>

<!--<div class="info_blog"></div>-->

<%= image_tag 'redlight1.png', :class => 'redlight' %>

<%= render :partial => 'searchs/hd_inner' %>

<%= image_tag 'carbone.jpg', :style => 'height:104px;width:72px;position:absolute;top:-21px;left:0px;' %>
<%= link_to image_tag('all.png', :mouseover => '/assets/all3.png'), "/directory/posts" , :style => 'height:32px;width:32px;position:absolute;top:0px;left:20px;' %>
<%= link_to image_tag('video32.png', :mouseover => '/assets/video32act1.png'), adv_model_videos_url , :style => 'height:32px;width:32px;position:absolute;top:37px;left:20px;' %>
<%= link_to image_tag('image32.png', :mouseover => '/assets/image32act1.png'), adv_model_images_url , :style => 'height:32px;width:32px;position:absolute;top:74px;left:20px;' %>
<%= link_to image_tag('link32.png', :mouseover => '/assets/link32act1.png'), adv_model_links_url , :style => 'height:32px;width:32px;position:absolute;top:109px;left:20px;' %>
<%= link_to image_tag('text32.png', :mouseover => '/assets/text32act1.png'), adv_model_textos_url , :style => 'height:32px;width:32px;position:absolute;top:143px;left:20px;' %>

<% end %>
<div class="clear">&nbsp;</div>
<% if current_page?('/tag_cloud') %>
<div style="width:500px;">

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>

 <div class="tag_cloud"><a><%= link_to tag.name,"/links/tagged/#{tag.name}" , :class => css_class %></a></div>
<% end %>
   </div>

<% else %>

<% if @posts.total_entries == 0 %>
<div style="height:500px;"><span style="font-size:70px;color:#222;background:#444;border:1px dotted #FFF;margin:50px 0 50px 0;">&nbsp;No result found&nbsp;</span></div>
<% end %>

  <%= render @posts %>
         <div class="paginate"><%= will_paginate @posts %></div>
<% end %>
<div class="clear">&nbsp;</div>

