<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
= csrf_meta_tag
= javascript_include_tag 'application'
= stylesheet_link_tag 'application'

:css
  body {background: #EEE;}
  h2 {text-align:center;}
  .form_wrapper{width:200px;margin:0 auto;}
  label {font-size:12px;}
  input[type="text"] {width:200px;}
  input[type="password"] {width:200px;}
.clear &nbsp;
%h2 Login
.clear &nbsp;  
= form_for @user_session, :url => create_session_url, :method => :post, :remote => true do |f|
  = f.error_messages 
  .form_wrapper
    %p
      = f.label :login, 'Username'
      %br
      = f.text_field :login
      
    .clear &nbsp;
    
    %p  
      = f.label :password
      %br
      = f.password_field :password
    
    = f.submit 'Login'


