<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "CSC films") %></title>
    <meta name="keywords" content="<%= h(yield(:keywords) || "") %>"/>
    <meta name="description" content="<%= h(yield(:description) || "") %>"/>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="/assets/event_calendar.js" type="text/javascript"></script>
    
    <link rel="icon" type="image/gif" href="images/favicon.gif" />
    <%= stylesheet_link_tag 'application' %>  
    <link rel="stylesheet" href="/assets/blog.css" />  
    <link rel="stylesheet" href="/assets/event_calendar.css" />
    <!--[if IE 9]><link rel="stylesheet" href="/assets/artist_ie9.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="/assets/artist_ie8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/assets/artist_ie7.css" /><![endif]-->
    <!--[if IE 6]><link rel="stylesheet" href="/assets/artist_ie6.css" /><![endif]-->
    <%= yield(:head) %>               
  </head>
  <body>
  <div id="wrapper">
  	<div class="clear">&nbsp;</div>
      	<div class="clear">&nbsp;</div>
        
    <div id="header" >  
    <%= render :partial => 'shared/topbar' %>  
       <div id="header_inner">
         <%= render :partial => 'shared/banner' %>
       </div>  
         <div id="nav">
         <%= render :partial => 'shared/nav' %>
         <%= link_to image_tag('logo.gif'), '/', :class => 'logo' %>
         </div>           
    </div>
    <div class="clear">&nbsp;</div>
    <div id="wrapper_inner">

    <div id="content">            
    <div id="<%= @content_for_sidebar ? 'left-content' : 'content_inner' %>">
          <%= yield %>
    </div>
          <% if @content_for_sidebar %>
    <div id="right-content">
          <%= yield :sidebar %>
    </div>
        
          <% end %> 
    </div>
<div class="clear">&nbsp;</div>   
    <div id="footer">    
        <div id="footer_inner">
          <%= link_to image_tag('facebookicon1.png', :onmouseover => "this.src=\"#{ asset_path 'facebookicon.png' }\"", :onmouseout => "this.src=\"#{ asset_path 'facebookicon1.png' }\""), 'http://www.facebook.com/pages/4nkh/155264964487409?created', :class => 'facebook', :popup => true, :alt => 'facebook', :title => '4nkh facebook' %>
		  <%= link_to image_tag('twittericon1.png', :onmouseover => "this.src=\"#{ asset_path 'twittericon.png' }\"", :onmouseout => "this.src=\"#{ asset_path 'twittericon1.png' }\""), 'http://twitter.com/4nk', :class => 'twitter', :popup => true, :alt => 'twitter', :title => '4nkh twitter' %>
		  <%= link_to image_tag('rss1.png', :onmouseover => "this.src=\"#{ asset_path 'rss.png' }\"", :onmouseout => "this.src=\"#{ asset_path 'rss1.png' }\""), feed_path, :class => 'rss', :popup => true, :alt => 'rss', :title => '4nkh rss' %>
          <%= yield :footer %>
          <% if current_page?('/fr/accueil') || ('/fr/posts/all/Visible') || current_page?('/fr/contact') || current_page?('/fr/services') || current_page?('/fr/apropos') || current_page?('/fr/folios') || current_page?('/fr/realisations') || current_page?('/fr/outils') || current_page?('/fr/business/plan') || current_page?('/fr/seo/plan') || current_page?('/fr/mobile') || current_page?('/fr/hosting/plan') %>
            <%= render :partial => "shared/footerfr" %>
          <% else %>
	        <%= render :partial => "shared/footer" %>
          <% end %>
          <span id="copyright">copyright © 2012 4nkh development</span>
        </div>
    </div>      
   </div>
   </div>     

     <%= javascript_include_tag 'application', 'nivo', 'nav'-%>
     <%= yield :js %>
  </body>
</html>


