
<div class="celebrity_search">
  <div class="loginform divide clearfix">
    <h3>Edit Folio</h3>
    <p class="tagline">Add or modify your folio description</p>
  
  <%= form_for @folio do |f| %>
    <%= f.error_messages %>
<div class="clear">&nbsp;</div>      
  <div>
  <%= f.label :name, 'Title' %><br/>
   <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label :url %><br/>
   <%= f.text_field :url %>
  </div>

  <div>
  <%= f.label :description, 'Description' %><br/>
  <span>In less then 500 caracters!!!</span><br/>
   <%= f.text_area :description, :cols => 30, :rows => 5 %>
  </div> 

 <%= f.submit 'Submit' %>
 
<% end %>

<h4 style="color:maroon;font-size:14px;">WARNING!!! this button delete the entire folio</h4>
<%= button_to "Destroy movie", { :controller => 'folios', :action => 'destroy' }, :confirm => "Are you sure?" %>
</div>
</div>

