<%= stylesheet_link_tag 'jquery.lightbox.css' %>

<% content_for :hd_inner do %>
<div id="thumb_wrapper">
<ul class="thumb">
        <%= render @folio %>
</ul>
</div>
<%= will_paginate @folio %>
<% end %>

<div id="map_wrapper" style="font-size:12px;">


<% if current_page?('/folios') %>
<h2 class="subtitle" style="text-align:center;padding:5px 0 10px 0;">Website</h2>

<div id="dialog" class="group">
     
     <ul class="column first" style="font-size:16px;">
      <li><%= link_to 'Amazone exemple', 'http://amazone.heroku.com', :style => 'color:#39c;', :popup => true, :rel => 'nofollow' %></li>
      <li><%= link_to 'Muzi.ca exemple', 'http://muzicareal2.heroku.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' %></li>
      <li><%= link_to 'worldwanted.me exemple', 'http://wwme.heroku.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' %></li>
      <li><%= link_to 'cscfilms website', 'http://cscfilms.com',:style => 'color:#39c', :popup => true, :rel => 'nofollow' %></li>
      <li><%= link_to 'legrenierdemamere website', 'http://legrenierdemamere.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' %>
     </ul>
    <ul class="column">
      <p>You need a website then you knock at the good door. We will create the template to let yourself or your business publish and promote your data on internet. Our programmer team can  also build or simply add pluggin to interact with your costumers or visitors. The designer team work hard to realize competitive and up to date graphic interfaces. <span style="color:yellow;">Click on the images above!</span> to see some layouts exemples </p>
    </ul>
    
    <ul class="column last">
        <p>
          We don't have static prices for website creation because it vary in each case. It depend on the complexity of the platform you wan't and the time it take to make it come true. Contact us to explain your needs and ideas. We will return you a submission to let you compare our prices. Note by yourself the quality and the great price we offer!
        </p>

    </ul>
</div>

<% else %>
<h2 class="subtitle" style="text-align:center;padding:5px 0 10px 0;">Site Internet</h2>
<div id="dialog" class="group">

    <ul class="column first" style="font-size:16px;">
      <li><%= link_to 'Amazone exemple', 'http://amazone.heroku.com', :style => 'color:#39c;', :popup => true, :rel => 'nofollow' %></li>
      <li><%= link_to 'Muzi.ca exemple', 'http://muzicareal2.heroku.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' %></li>
      <li><%= link_to 'worldwanted.me exemple', 'http://wwme.heroku.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' %></li>
      <li><%= link_to 'cscfilms website', 'http://cscfilms.com',:style => 'color:#39c', :popup => true, :rel => 'nofollow' %></li>
      <li><%= link_to 'legrenierdemamere website', 'http://legrenierdemamere.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' %>
     </ul>

    <ul class="column">
      <p>Vous avez besion d'un site internet, alors vous avez frappe a la bonne porte Nous creeons des plateforme pour que vous ou votre entreprise puissiez publier et promouvoir vos donn/ sur le web. Notre equipe de programmeur peut aussi construire ou simplement ajouter des applications vous permettant d'interagir avec vos visiteurs. Nos designers travails fort pour realiser des interfaces graphique competitif et au gout du jour. <span style="color:yellow;">Cliquez sur les images en haut !!!</span> pour voir quelques exemples </p>
    </ul>

    <ul class="column last">
      <p>Your fifth (very nerdy) Beatle. We provide fast, dependable streaming and downloads of your entire catalog, adorn your tracks with all the metadata they need to sail into iTunes with artwork, titles, and so on intact, and mutter the various incantations necessary to get your site top-ranked in Google. All things we know you could do, but we suspect you~@~Yd rathee
r focus on your music. Well, think of us as your invisible bandmate who loves that other stuff. And we won't even ask to play tambourine.</p>
    </ul>
</div>

<% end %>

<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div>

</div>
<%= javascript_include_tag 'jquery.lightbox.js' %>
<script>
$(function() {
        $('#thumb_wrapper a').lightBox();
    });
</script>
