= stylesheet_link_tag 'jquery.lightbox.css'
- content_for :hd_inner do
  #thumb_wrapper
    %ul.thumb
      = render @folio
      
  = will_paginate @folio 

#map_wrapper{:style => "font-size:12px;"}
  - if current_page?(folios_path)

    #title.group
      .clear &nbsp;
      %h2.h2_title Video Games
      .clear &nbsp;
     
      %ul{:class => "column first", :style => "font-size:16px;"}
        %li= link_to 'Amazone exemple', 'http://amazone.heroku.com', :style => 'color:#39c;', :popup => true, :rel => 'nofollow' 
        %li= link_to 'Muzi.ca exemple', 'http://muzicareal2.heroku.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow'
        %li= link_to 'worldwanted.me exemple', 'http://wwme.heroku.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' 
        %li= link_to 'cscfilms website', 'http://cscfilms.com',:style => 'color:#39c', :popup => true, :rel => 'nofollow' 
        %li= link_to 'legrenierdemamere website', 'http://legrenierdemamere.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow'
      
      %ul.column
        %p You need a website then you knock at the good door. We will create the template to let yourself or your business publish and promote your data on internet. Our programmer team can  also build or simply add pluggin to interact with your costumers or visitors. The designer team work hard to realize competitive and up to date graphic interfaces. #{ raw('<span style="color:yellow;">Click on the images above!</span>')} to see some layouts exemples.
      
      %ul{:class => "column last"}
        %p We don't have static prices for website creation because it vary in each case. It depend on the complexity of the platform you wan't and the time it take to make it come true. Contact us to explain your needs and ideas. We will return you a submission to let you compare our prices. Note by yourself the quality and the great price we offer!

  - else

    #title.group
      .clear &nbsp;
      %h2.h2_title Jeux Vidéo
      .clear &nbsp;

      %ul{:class => "column first", :style => "font-size:16px;"}
        %li= link_to 'Amazone exemple', 'http://amazone.heroku.com', :style => 'color:#39c;', :popup => true, :rel => 'nofollow'
        %li= link_to 'Muzi.ca exemple', 'http://muzicareal2.heroku.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' 
        %li= link_to 'worldwanted.me exemple', 'http://wwme.heroku.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow'
        %li= link_to 'cscfilms website', 'http://cscfilms.com',:style => 'color:#39c', :popup => true, :rel => 'nofollow' 
        %li= link_to 'legrenierdemamere website', 'http://legrenierdemamere.com',:style => 'color:#39c;', :popup => true, :rel => 'nofollow' 

      %ul.column
        %p Notre entreprise conceptualise, développe et réalise des animations 2D-3D ou des jeux vidéo. Nous avons l'expertise pour modeliser des personages, des objets ou des éléments architecturaux. Il nous fera plaisir de réaliser l'animation de model à des fins interactive ou de cinématique, dépendament de ce qui conviendra à vos projets. 
        %br
        %p Nous avons beaucoup d'expérience sur un vaste éventail de moteur 3D.
      %ul{:class => "column last"}
        %p Nous développons en ce moment avec plusieurs forme de technologies, qu'elles soient conventionnelles ou émergengeante.  
        %br
        %p 
  .clear &nbsp;
  .clear &nbsp;